section.scholar-search.header {
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

section.scholar-search.header .background-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
}

section.scholar-search.header .display-title-font {
    font-size: 46px;
}

section.scholar-search.header .display-subtitle-font {
    font-size: 22px;
}

section.scholar-search.header .header-title span {
    color: white;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.57);
}

@media only screen and (max-width: 576px) {
    section.scholar-search.header {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    section.scholar-search.header,
    .header-section-container > .row{
        height: unset;
    }

    section.scholar-search.header .background-overlay{
        display: none;
    }
}


section.scholar-search.presenting .section-title {
    font-size: 35px;
}

section.scholar-search.presenting .section-description {
    font-size: 16px;
}

section.scholar-search.presenting .btn-primary {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    font-size: 14px;
}


section.scholar-search.why {
    background-image: url('../../img/scholar-search/bg_why_attending_scholarsearch.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

section.scholar-search.why .background-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    opacity: 0.8;
}

section.scholar-search.why .section-title {
    font-size: 35px;
    color: #AF3E3E;
}

section.scholar-search.why .why-img {
    width: 105px;
    height: 105px;
}

section.scholar-search.why .why-img-desc {
    font-size: 16px;
}

section.scholar-search.why .btn-play {
    color: #961E27;
    background-color: transparent;
    background-image: none;
    border: solid 3px #B35D61;
    width: 100%;
    white-space:normal;
    line-height: 40px;
    font-size: 26px;
}

section.scholar-search.why .btn-play span {
    display: inline-block;
    color: #000000;
    font-size: 16px;
    line-height: 20px;
}

section.scholar-search.why .btn-play:hover {
    color: #fff;
    background-color: #B35D61;
    border-color: #B35D61;
}

@media only screen and (max-width: 576px) {
    section.scholar-search.why {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    section.scholar-search.why,
    .header-section-container > .row{
        height: unset;
    }

    section.scholar-search.why .background-overlay{
        display: none;
    }
}


section.scholar-search.join-us .section-title {
    font-size: 35px;
    color: #AF3E3E;
}

section.scholar-search.join-us .section-sub-title {
    font-size: 16px;
    color: #707070;
}

section.scholar-search.join-us hr {
    border-top: solid 1px #AF3E3E;
}

section.scholar-search.join-us .card {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .33);
}

section.scholar-search.join-us .card .card-title {
    font-size: 18px;
    color: #961F28;
}

section.scholar-search.join-us .card .card-desc {
    font-size: 16px;
    color: #737373;
}

section.scholar-search.join-us .card .card-body img {
    height: 43px;
}

section.scholar-search.join-us .card button {
    color: #961F28;
    background-color: transparent;
    background-image: none;
    border-color: #961F28;
    font-size: 14px;
}

section.scholar-search.join-us .card:hover button {
    color: #fff;
    background-color: #961F28;
}

section.scholar-search.join-us .card:hover a {
    text-decoration: none;
}

@media only screen and (max-width: 576px) {
    section.scholar-search.join-us .card {
        box-shadow: none;
        border: none;
    }
}

section.scholar-search.impact-map {
    background-color: #F9F9F9;
}

section.scholar-search.impact-map .section-title {
    font-size: 35px;
    color: #AF3E3E;
}

section.scholar-search.impact-map .section-sub-title {
    font-size: 16px;
    color: #949494;
}

section.scholar-search.impact-map .impact-img {
    display: inline-block;
    width: 80px;
    height: 80px;
}

section.scholar-search.impact-map .impact-numbers {
    font-size: 29px;
    font-family: 'Roboto', sans-serif;
    color: #AF3E3E;
}

section.scholar-search.impact-map .impact-title {
    font-size: 22px;
    color: #949494;
}

section.scholar-search.impact-map .impact-desc {
    font-size: 16px;
    color: #585858;
}

section.scholar-search.impact-map .section-description {
    font-size: 16px;
    color: #707070;
}

section.scholar-search.impact-map .impact-map-box {
    border: solid 2px #AF3E3E;
    font-size: 11px;
    color: #000000;
}

section.scholar-search.impact-map .impact-map-box .box-title {
    font-size: 14px;
}


section.scholar-search.sponsors .section-title {
    font-size: 35px;
    color: #AF3E3E;
}

section.scholar-search.sponsors .section-description {
    font-size: 16px;
    color: #707070;
}

section.scholar-search.sponsors div hr {
    border-top: solid 1px #A4A4A4;
}


section.scholar-search.faq .section-title {
    font-size: 35px;
    color: #961E27;
}

section.scholar-search.faq {
    background-color: #F9F9F9;
}

section.scholar-search.faq #faq-carousel .item h4 {
    font-size: 20px;
    color: #000000;
}

section.scholar-search.faq #faq-carousel .item .item-desc {
    font-size: 16px;
    color: #000000;
}


section.scholar-search.sign-up .section-description {
    font-size: 22px;
    color: #707070;
}

section.scholar-search.sign-up .btn-primary {
    padding-top: 13.5px;
    padding-bottom: 13.5px;
    font-size: 14px;
}