section.career .section-title {
    font-size: 32px;
    color: #AF3E3E;
}

section.career .section-sub-title {
    font-size: 25px;
    color: #9F3139;
}

section.career .section-description {
    font-size: 16px;
    color: #585858;
    font-family: 'Roboto', sans-serif;
}

section.career .career-nature-box {
    border-top: solid 1px #AE1F23;
    border-bottom: solid 1px #AE1F23;
}

section.career .btn-tag {
    border-radius: 23px;
    font-size: 15px;
}

section.career .btn-primary {
    font-size: 14px;
    background-color: #AF3E3E;
}

@media (max-width: 1200px) {
    section.career .section-title {
        font-size: 28px
    }

    section.career .section-sub-title {
        font-size: 22px;
    }
}

@media (max-width: 576px) {
    section.career .section-title {
        font-size: 24px
    }

    section.career .section-sub-title {
        font-size: 18px;
    }

    section.career .section-description {
        font-size: smaller;
    }
}