section.calendar-tools.header {
    background-image: url('https://via.placeholder.com/1961x202');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

section.calendar-tools.header .header-title {
    font-size: 46px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}

section.calendar-tools.header .header-desc {
    font-size: 22px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}

section.calendar-tools.header hr {
    border-top: solid 3px #FFFFFF;
}


section.calendar-tools.exam-schedules .section-title {
    color: #AF3E3E;
    font-size: 32px;
}

section.calendar-tools.exam-schedules hr {
    border-top: solid 1px #AF3E3E;
}

section.calendar-tools.exam-schedules .schedule-box {
    border: solid 2px #E5E5E5;
    box-shadow: rgba(0, 0, 0, 0.16) 3px 3px 0px;
    cursor: pointer;
}

section.calendar-tools.exam-schedules .schedule-box .exam-name {
    font-size: 25px;
    color: #AF3E3E;
}

section.calendar-tools.exam-schedules .schedule-box .exam-year {
    font-size: 23px;
}

section.calendar-tools.exam-schedules .schedule-box .exam-week {
    font-size: 16px;
}

section.calendar-tools.exam-schedules .schedule-box .exam-date {
    font-size: 25px;
    color: #AF3E3E;
}


section.calendar-tools.filters .section-title {
    color: #AF3E3E;
    font-size: 32px;
}

section.calendar-tools.filters #clear-filter {
    color: #585858;
    font-size: 18px;
    cursor: pointer;
}

section.calendar-tools.filters #clear-filter span {
    color: #AF3E3E;
    font-size: 22px;
}

section.calendar-tools.filters hr {
    border-top: solid 1px #AF3E3E;
}

section.calendar-tools.filters .btn-filters {
    border-radius: 13px;
    margin-right: 0.5rem;
    font-size: 15px;
}

section.calendar-tools.filters .calendar-card {
    border: solid 1px rgba(112, 112, 112, .53);
    border-radius: 11px;
}

section.calendar-tools.filters .calendar-card.success {
    border-left: solid 11px #28a745;
}

section.calendar-tools.filters .calendar-card.warning {
    border-left: solid 11px #ffc107;
}

section.calendar-tools.filters .calendar-card.secondary {
    border-left: solid 11px #6c757d;
}

section.calendar-tools.filters .calendar-card.info {
    border-left: solid 11px #17a2b8;
}

section.calendar-tools.filters .calendar-card.primary {
    border-left: solid 11px #961E27;
}

section.calendar-tools.filters .calendar-card.dark {
    border-left: solid 11px #343a40;
}

section.calendar-tools.filters .calendar-card.danger {
    border-left: solid 11px #dc3545;
}

section.calendar-tools.filters .list-month {
    font-size: 22px;
    opacity: 0.44;
}

section.calendar-tools.filters .calendar-card .card-date {
    font-size: 14px;
    opacity: 0.44;
}

section.calendar-tools.filters .calendar-card .card-desc {
    font-size: 18px;
    opacity: 0.44;
}

section.calendar-tools.filters #calendar-card-container {
    position: relative;
    min-height: 150px;
}

#go-top {
    position: fixed;
    bottom: 10px;
    right: 10px;
}


@media (max-width: 1200px) {
    section.calendar-tools.header .header-title {
        font-size: 38px;
    }

    section.calendar-tools.header .header-desc {
        font-size: 20px;
    }

    section.calendar-tools.exam-schedules .section-title {
        font-size: 28px;
    }

    section.calendar-tools.exam-schedules .schedule-box .exam-name {
        font-size: 22px;
    }

    section.calendar-tools.exam-schedules .schedule-box .exam-date {
        font-size: 22px;
    }

    section.calendar-tools.exam-schedules .schedule-box .exam-year {
        font-size: 20px;
    }

    section.calendar-tools.filters .section-title {
        font-size: 28px;
    }

    section.calendar-tools.filters #clear-filter {
        font-size: 16px;
    }

    section.calendar-tools.filters #clear-filter span {
        font-size: 20px;
    }

    section.calendar-tools.filters .list-month {
        font-size: 20px;
    }
    
    section.calendar-tools.filters .calendar-card .card-desc {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
    section.calendar-tools.header .header-title {
        font-size: 30px;
    }

    section.calendar-tools.header .header-desc {
        font-size: 16px;
    }

    section.calendar-tools.exam-schedules .section-title {
        font-size: 24px;
    }

    section.calendar-tools.exam-schedules .schedule-box .exam-name {
        font-size: 18px;
    }

    section.calendar-tools.exam-schedules .schedule-box .exam-year {
        font-size: 16px;
    }

    section.calendar-tools.exam-schedules .schedule-box .exam-date {
        font-size: 18px;
    }

    section.calendar-tools.exam-schedules .schedule-box .exam-week {
        font-size: smaller;
    }

    section.calendar-tools.filters .section-title {
        font-size: 24px;
    }

    section.calendar-tools.filters #clear-filter {
        font-size: 14px;
    }

    section.calendar-tools.filters #clear-filter span {
        font-size: 16px;
    }

    section.calendar-tools.filters .btn-filters {
        font-size: smaller;
        margin-right: 0;
    }

    section.calendar-tools.filters .list-month {
        font-size: 16px;
    }
    
    section.calendar-tools.filters .calendar-card .card-date {
        font-size: 12px;
    }
    
    section.calendar-tools.filters .calendar-card .card-desc {
        font-size: 14px;
    }
}