section.testprep.header {
    background-image: url('https://via.placeholder.com/1961x202');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

section.testprep.header .header-title {
    font-size: 46px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}

section.testprep.header .header-desc {
    font-size: 22px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}

section.testprep.header .header-desc#quote-from {
    text-shadow: rgba(0, 0, 0, 0.57) 0px 1px 2px;
}


section.testprep.categories .section-title {
    color: #AF3E3E;
    font-size: 32px;
}

section.testprep.categories #clear-filter {
    color: #585858;
    font-size: 18px;
    cursor: pointer;
}

section.testprep.categories #clear-filter span {
    color: #AF3E3E;
    font-size: 22px;
}

section.testprep.categories hr {
    border-top: solid 1px #AF3E3E;
}

section.testprep.categories .btn-categories {
    font-size: 15px;
    color: #AF3E3E;
    border: solid 1px #AF3E3E;
    background-color: transparent;
    background-image: none;
    border-radius: 13px;
}

section.testprep.categories .btn-categories:hover, section.testprep.categories .btn-categories:focus {
    color: #fff;
    background-color: #AF3E3E;
}


@media (max-width: 1200px) {
    section.testprep.header .header-title {
        font-size: 38px;
    }
    
    section.testprep.header .header-desc {
        font-size: 20px;
    }
    
    
    section.testprep.categories .section-title {
        font-size: 28px;
    }
    
    section.testprep.categories #clear-filter {
        font-size: 16px;
    }
    
    section.testprep.categories #clear-filter span {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    section.testprep.header .header-title {
        font-size: 30px;
    }
    
    section.testprep.header .header-desc {
        font-size: 16px;
    }
    
    
    section.testprep.categories .section-title {
        font-size: 24px;
    }
    
    section.testprep.categories #clear-filter {
        font-size: 14px;
    }
    
    section.testprep.categories #clear-filter span {
        font-size: 16px;
    }
    
    section.testprep.categories .btn-categories {
        font-size: smaller;
    }

    section.testprep.categories #best-viewed {
        font-size: smaller;
    }
}