.navbar-nav .nav-item.active {
    border-bottom: solid 3px #961E27;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .show>.nav-link {
    color: #961E27;
}


.dropdown-toggle::after {
    display: none;
}

.dropdown-menu {
    font-size: 15px;
}

.dropdown-item {
    color: #961E27;
}

.dropdown-item .badge-primary {
    position: absolute;
    right: -6px;
    top: 50%;
    transform: translate(-50%, -50%);
}

.nav-link.notification::after {
    content: '\f111';
    font-weight: 900;
    display: inline-block;
    margin-left: unset;
    vertical-align: unset;
    border: none;
    font-family: "Font Awesome 5 Free";
    font-size: 6px;
    vertical-align: text-top;
}

.dropdown-item.notification {
    padding-right: 2rem;
}

.dropdown-item.notification::after {
    content: '\f111';
    font-weight: 900;
    display: inline-block;
    font-family: "Font Awesome 5 Free";
    font-size: 12px;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(-50%, -50%);
}


@media (max-width: 1200px) { 
    .dropdown-item .badge-primary {
        transform: translate(-70%, -50%);
    }
}

@media (max-width: 992px) {
    .navbar .navbar-collapse:before {
        content: "";
        height: 16px;
        width: calc(100% + 2rem);
        display: block;
        background: linear-gradient(to right, #A49DBA , #C57373);
        margin-left: -1rem;
    }

    .navbar-nav.navbar-mobile .collapsible-menu .nav-item:first-of-type {
        border-bottom: none;
    }

    .navbar-nav.navbar-mobile .collapsible-menu {
        padding-left: 30px;
    }

    .navbar-nav.navbar-mobile .nav-link[aria-expanded="true"] i {
        transform: rotate(180deg);
    }

    .navbar-nav.navbar-mobile .nav-link {
        width: 100%;
    }

    .navbar-nav.navbar-mobile .nav-link .badge-primary {
        font-size: 12px;
    }

    .navbar-nav.navbar-mobile .nav-link .fa-chevron-down, .navbar-nav.navbar-mobile .nav-link .fa-chevron-up {
        float: right;
        line-height: 1.5rem;
        color: #840101;
    }
}