section.contact-us.details .section-title {
    font-size: 32px;
    color: #AF3E3E;
}

section.contact-us.details hr {
    border-top: solid 1px #AF3E3E;
    margin-left: -15px;
}

section.contact-us.details dl dt {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    color: #585858;
}

section.contact-us.details dl dd {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #585858;
}

section.contact-us.details #map {
    width: 744px;
    height: 502px;
    background-color: grey;
}


section.contact-us.contact-form .nav-tabs {
    border-top: 1px solid #AF3E3E;
    border-bottom: none;
}

section.contact-us.contact-form .nav-tabs .nav-link.active, section.contact-us.contact-form .nav-tabs .nav-item.show .nav-link {
    border-top-color: #AF3E3E;
}

section.contact-us.contact-form .nav-tabs .nav-link {
    border: none;
    border-top: 8px solid transparent;
    border-radius: 0;
    font-size: 18px;
    color: #585858;
}

section.contact-us.contact-form .tab-pane {
    margin-left: 1rem;
}

section.contact-us.contact-form .tab-pane .section-description {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #585858;
}

section.contact-us.contact-form .text-input-container {
    position: relative;
}

section.contact-us.contact-form .text-input-container input {
    border-radius: 6px;
    border: solid 1px #B2B2B2;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 2px 0;
    padding-left: 40%;
}

section.contact-us.contact-form .text-input-container label {
    font-size: 16px;
    opacity: 0.89;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-10px, -50%);
    color: #585858;
}

section.contact-us.contact-form .text-input-container input::placeholder {
    font-size: 16px;
    opacity: 0.89;
    color: #E3E3E3;
    font-weight: 500;
}

section.contact-us.contact-form .select-input-container {
    position: relative;
}

section.contact-us.contact-form .select-input-container select {
    border-radius: 6px;
    border: solid 1px #B2B2B2;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 2px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: auto;
    padding-top: 24px;
    padding-left: 20px;
    padding-bottom: 0;
    color: #AF3E3E;
    font-size: 16px;
    font-weight: 500;
}

section.contact-us.contact-form .select-input-container label {
    font-size: 16px;
    opacity: 0.89;
    position: absolute;
    top: 5%;
    left: 30px;
    transform: translate(-10px, -5%);
    color: #585858;
}

section.contact-us.contact-form textarea {
    font-size: 16px;
    border-radius: 6px;
    height: 198px;
    border: solid 1px #B2B2B2;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 2px 0;
}

section.contact-us.contact-form textarea::placeholder {
    opacity: 0.89;
    color: #E3E3E3;
    font-weight: 500;
}

section.contact-us.contact-form .file-desc {
    font-size: 16px;
    color: #6A6A6A;
    opacity: 0.89;
}

section.contact-us.contact-form .file-desc-small {
    font-size: 12px;
    color: #6A6A6A;
    opacity: 0.89;
}

section.contact-us.contact-form #sp-file {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

section.contact-us.contact-form #selected-file {
    font-size: 16px;
    color: #AF3E3E;
    opacity: 0.89;
    text-decoration: underline;
}

section.contact-us.contact-form #remove-file {
    color: #AF3E3E;
}

section.contact-us.contact-form #remove-file:hover {
    cursor: pointer;
}

section.contact-us.contact-form .btn-primary {
    font-size: 14px;
    background-color: #AF3E3E;
    border-radius: 5px;
}


@media (max-width: 1200px) {
    section.contact-us.details .section-title {
        font-size: 28px;
    }

    section.contact-us.details dl dt {
        font-size: 16px;
    }

    section.contact-us.contact-form .nav-tabs .nav-link {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
    section.contact-us.details .section-title {
        font-size: 24px;
    }

    section.contact-us.details hr {
        margin-left: auto;
    }

    section.contact-us.details dl dt {
        font-size: 14px;
    }

    section.contact-us.details dl dd {
        font-size: smaller;
    }

    section.contact-us.contact-form .nav-tabs .nav-link {
        font-size: 14px;
    }

    section.contact-us.contact-form .tab-pane .section-description {
        font-size: smaller;
    }

    section.contact-us.contact-form .text-input-container label {
        font-size: smaller;
    }

    section.contact-us.contact-form .text-input-container input::placeholder {
        font-size: smaller;
    }

    section.contact-us.contact-form .select-input-container select {
        font-size: smaller;
        padding-top: 29px;
    }

    section.contact-us.contact-form .select-input-container label {
        font-size: smaller;
    }
    
    section.contact-us.contact-form textarea {
        font-size: smaller;
    }

    section.contact-us.contact-form textarea::placeholder {
        font-size: smaller;
    }

    section.contact-us.contact-form .file-desc {
        font-size: smaller;
    }

    section.contact-us.contact-form .file-desc-small {
        font-size: 10px;
    }

    section.contact-us.contact-form #selected-file {
        font-size: smaller;
    }

    section.contact-us.contact-form .tab-pane {
        margin-left: auto;
    }
}