.modal-mask { visibility: hidden; position: fixed;z-index: 9998;top: 0px;left: 0;width: 100%;height: 111%;background-color: rgba(0, 0, 0, .8);display: table;transition: opacity .3s ease; }
.modal-wrapper { display: table-cell;vertical-align: middle; }
.modal-container {
  visibility: visible;
  width: 100%;
  margin: 0px auto;
  background-color: #fff;
	border-radius: 2px;box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
}
.modal-header {padding: 5px;border-bottom: none;position: relative}
.modal-header .close {position: absolute;right: -17px;}
.modal-header h3 {margin-top: 0;color: #42b983;}
.modal-body {padding: 10px 15px;}
.modal-footer {border: none;justify-content:center}

.modal-default-button {float: right;}
.modal-enter {opacity: 0;}
.modal-leave-active {opacity: 0;}
.modal-enter .modal-container,
.modal-leave-active .modal-container {-webkit-transform: scale(1.1); transform: scale(1.1); }
.breakline_1 {
  overflow: hidden !important;
  text-align: center !important;
}
#tnc-signup a:hover {text-decoration: underline !important; color:#3f51b5;}
.breakline_2 {
  position: relative !important;
  padding: 16px !important;
}
.breakline_2::before {
  content: '' !important;
  position: absolute !important;
  border-bottom: 1px solid #AE1F23 !important;
  top: 50% !important;
  right: 100% !important;
  width: 5000px !important;
}
.breakline_2::after {
  content: '' !important;
  position: absolute !important;
  border-bottom: 1px solid #AE1F23 !important;
  top: 50% !important;
  left: 100% !important;
  width: 5000px !important;
}
.breakline_3 {
  font-weight: normal !important;
  color: #585858 !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 16px !important;
  line-height: 18px !important;
  letter-spacing: 0.2px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  display: inline !important;
}
.term {
  font-weight: normal !important;
  color: #484848 !important;
  margin: 0px !important;
  word-wrap: break-word !important;
  font-size: 12px !important;
  line-height: 16px !important;
  letter-spacing: 0.4px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.remember-me {
  font-size: 16px;
  color: #585858;
}
.forget-password {
  font-size: 16px !important;
  color: #AF3E3E;
  text-decoration: underline;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background: transparent !important;
  border: 0px !important;
  cursor: pointer !important;
  margin: 0px !important;
  padding: 0px !important;
  text-align: left !important;
  -webkit-user-select: auto !important;
  -moz-user-select: auto !important;
  -ms-user-select: auto !important;
  user-select: auto !important;
}
.forget-password:hover {color:#ae1f23 !important}
.error {
  color: darkred;
  display: block;
  font-size: 12px;
}
.input-group {
  margin-bottom: 5px;
}
.create-acct-link, .login-acct-link {cursor: pointer;text-decoration: underline !important; font-size: 16px; color: #AF3E3E}
.create-acct-link:hover, .login-acct-link:hover {color:#ae1f23 !important}

#login-form .text-input-container, #signup-form .text-input-container {
  position: relative;
}

#login-form .text-input-container input, #signup-form .text-input-container input {
  border-radius: 6px;
  border: solid 1px #B2B2B2;
  box-shadow: rgba(0, 0, 0, 0.16) 2px 1px 0;
  padding-left: 40%;
}

#login-form .text-input-container label, #signup-form .text-input-container label {
  font-size: 16px;
  opacity: 0.89;
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translate(-10px, -50%);
  color: #585858;
}

#login-form .text-input-container input::placeholder, #signup-form .text-input-container input::placeholder {
  font-size: 16px;
  opacity: 0.89;
  color: #E3E3E3;
  font-weight: 500;
}

#login-form .social-icon, #signup-form .social-icon {
  font-size: 3.3em;
}

#login-form .section-desc, #signup-form .section-desc {
  font-size: 16px;
  color: #434343;
}

#login-form .section-title, #signup-form .section-title {
  font-size: 18px;
  color: #000000;
  opacity: 0.64;
}

#login-form button[type='submit'], #signup-form button[type='submit'] {
  height: 50px;
  width: 80%;
  background-color: #AF3E3E;
  border-radius: 45px;
}

#login-form .btn-facebook, #login-form .btn-google, #login-form .btn-linkedin, 
#signup-form .btn-facebook, #signup-form .btn-google, #signup-form .btn-linkedin { 
    width: 60px;
    height: 60px;
    display: flex;
    margin: 1em;
    align-items: center;
    justify-content: center;
}

#login-form hr, #signup-form hr {
  border-top: 1px solid #2C2C2C;
}

@media only screen and (min-width: 576px) {
  .modal-mask { visibility: visible; }
  .modal-container { max-width: 460px; }
}
@media only screen and (max-width: 576px) {
  .modal-container { 
    height: -o-calc(100% - 100px - 2em); /* opera */
    height: -webkit-calc(100% - 100px - 2em); /* google, safari */
    height: -moz-calc(100% - 100px - 2em); /* firefox */
    overflow: scroll;
   }
   .modal-mask { z-index: 1029; }
   #login-form .section-title, #signup-form .section-title {
    font-size: 16px;
  }
  #login-form .section-desc, #signup-form .section-desc {
    font-size: 14px;
  }
  #login-form .text-input-container input::placeholder, #signup-form .text-input-container input::placeholder {
    font-size: 14px;
  }
  #login-form .text-input-container label, #signup-form .text-input-container label {
    font-size: 14px;
    width: 120px;
  }
  .create-acct-link, .login-acct-link {
    font-size: 14px;
  }
  .forget-password {
    font-size: 14px !important;
  }
  .remember-me {
    font-size: 14px;
  }
}