#survey-modal.modal-mask { 
    visibility: visible; 
}

#survey-modal .modal-header .modal-title {
    color: #961F28;
    line-height: 1;
    font-size: 32px;
}

#survey-modal .modal-header .close {
    color: #961F28;
    font-size: 16px;
    opacity: 0.89;
    right: 0.5rem;
}

#survey-modal .modal-header hr {
    border-top: solid 1px #AF3E3E;
    padding-left: -20px;
    padding-right: -20px;
}

#survey-modal .modal-footer .btn-primary {
    font-size: 14px;
    background-color: #AF3E3E;
    border-radius: 5px;
}


#survey-modal .modal-body p {
    color: #585858;
    opacity: 0.89;
    font-size: 16px;
}

#survey-modal .modal-body .select-type {
    border: solid 1px #AF3E3E;
    border-radius: 5px;
    font-size: 14px;
    color: #585858;
    cursor: pointer;
}


#survey-modal .select-input-container {
    position: relative;
}

#survey-modal .select-input-container select {
    border-radius: 6px;
    border: solid 1px #B2B2B2;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 2px 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: auto;
    padding-top: 24px;
    padding-left: 20px;
    padding-bottom: 0;
    color: #AF3E3E;
    font-size: 16px;
    font-weight: 500;
}

#survey-modal .select-input-container label {
    font-size: 16px;
    opacity: 0.89;
    position: absolute;
    top: 5%;
    left: 30px;
    transform: translate(-10px, -5%);
    color: #585858;
}

#survey-modal .text-input-container {
    position: relative;
}

#survey-modal .text-input-container input {
    border-radius: 6px;
    border: solid 1px #B2B2B2;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 2px 0;
    padding-left: 25%;
}

#survey-modal .text-input-container#survey-phone-container input {
    padding-left: 30%;
}

#survey-modal .text-input-container label {
    font-size: 16px;
    opacity: 0.89;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-10px, -50%);
    color: #585858;
}

#survey-modal .text-input-container input::placeholder {
    font-size: 16px;
    opacity: 0.89;
    color: #E3E3E3;
    font-weight: 500;
}


#survey-modal #select-qualification .btn-primary {
    background-color: #FFFFFF;
    color: #961E27;
}

#survey-modal #select-qualification .btn-primary:not(:disabled):not(.disabled).active,
#survey-modal #select-qualification .btn-primary:not(:disabled):not(.disabled):active {
    background-color: #961E27;
    color: #FFFFFF;
}

#survey-modal #select-qualification .section-title {
    font-size: 14px;
    color: #961F28;
}


@media (max-width: 1200px) {
    #survey-modal .modal-header .modal-title {
        font-size: 28px;
    }
}

@media (max-width: 576px) {
    #survey-modal .modal-header .modal-title {
        font-size: 24px;
    }

    #survey-modal .modal-header .close {
        font-size: smaller;
    }

    #survey-modal .select-input-container select {
        font-size: smaller;
        padding-left: 10px;
    }

    #survey-modal .select-input-container label {
        font-size: smaller;
        left: 20px;
    }

    #survey-modal .text-input-container label {
        font-size: smaller;
    }

    #survey-modal .text-input-container input::placeholder {
        font-size: smaller;
    }

    #survey-modal #select-qualification .section-title {
        font-size: 12px;
    }

    #survey-modal .modal-body p {
        font-size: smaller;
    }

    #survey-modal .text-input-container input {
        padding-left: 30%;
    }

    #survey-modal #have-result {
        font-size: smaller;
    }

    #survey-modal .select-input-container #survey-phone-country {
        padding-top: 14.5px;
        padding-bottom: 14.5px;
    }
}