section.courses.header {
    background-image: url('../../img/course-landing/bg_landing_header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

section.courses.header .header-title {
    font-size: 46px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}

section.courses.header .header-desc {
    font-size: 22px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}


section.courses.fields .nav-tabs {
    border-top: 1px solid #AF3E3E;
    border-bottom: none;
}

section.courses.fields .nav-tabs .nav-link.active, section.courses.fields .nav-tabs .nav-item.show .nav-link {
    border-top-color: #AF3E3E;
}

section.courses.fields .nav-tabs .nav-link {
    border: none;
    border-top: 8px solid transparent;
    border-radius: 0;
}

section.courses.fields .tiles-container {
    position: relative;
}

section.courses.fields .tiles-bg-overlay { 
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

section.courses.fields .tiles-img {
    border-radius: 13px;
}

section.courses.fields .tiles-title {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}


section.courses.contact .section-description {
    font-size: 22px;
    color: #707070;
}

section.courses.contact .btn-primary {
    font-size: 14px;
    border-radius: 5px;
}


@media (max-width: 1200px) {
    section.courses.header .header-title {
        font-size: 38px;
    }

    section.courses.header .header-desc {
        font-size: 20px;
    }

    section.courses.contact .section-description {
        font-size: 20px;
    }

    section.courses.fields .tiles-title {
        font-size: 18px;
    }
}


@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
    section.courses.header .header-title {
        font-size: 30px;
    }

    section.courses.header .header-desc {
        font-size: 16px;
    }

    section.courses.contact .section-description {
        font-size: 16px;
    }

    section.courses.fields .tiles-title {
        font-size: 16px;
    }
}