section.privacy.header {
    background-image: url('https://via.placeholder.com/1924x258');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

section.privacy.header .header-title {
    font-size: 46px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}

section.privacy.header .header-desc {
    font-size: 22px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}


section.privacy.statement .section-title {
    color: #AF3E3E;
    font-size: 32px;
}

section.privacy.statement hr {
    border-top: solid 1px #AF3E3E;
    margin-left: -15px;
}

section.privacy.statement dl dt {
    font-size: 18px;
    color: #474747;
}

section.privacy.statement dl dd {
    font-size: 16px;
    color: #474747
}

@media (max-width: 1200px) {
    section.privacy.header .header-title {
        font-size: 38px;
    }

    section.privacy.header .header-desc {
        font-size: 20px;
    }
    
    
    section.privacy.statement .section-title {
        font-size: 28px;
    }
    
    section.privacy.statement dl dt {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    section.privacy.header .header-title {
        font-size: 30px;
    }

    section.privacy.header .header-desc {
        font-size: 16px;
    }
    
    
    section.privacy.statement .section-title {
        font-size: 24px;
    }
    
    section.privacy.statement hr {
        margin-left: auto;
    }
    
    section.privacy.statement dl dt {
        font-size: 14px;
    }
    
    section.privacy.statement dl dd {
        font-size: smaller;
    }
}