section.guides a {
    text-decoration: none;
}

section.guides .bg-overlay { 
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


section.guides.header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

section.guides.header .header-title {
    font-size: 46px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}

section.guides.header .header-desc {
    font-size: 22px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}

section.guides.header #email {
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    border-radius: 6px;
    max-width: 600px;
}

section.guides.header #email::placeholder {
    font-size: 18px;
    color: #BEBEBE;
    opacity: 0.65;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 300;
}

section.guides.header #subscribe {
    font-size: 18px;
    border-radius: 6px;
    background-color: #961F28
}


section.guides.hottest-category .section-title {
    font-size: 18px;
    color: #961E27;
}

section.guides.hottest-category .tiles-title {
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #FFFFFF;
}


section.guides.categories .btn-categories {
    font-size: 15px;
    color: #AF3E3E;
    border: solid 1px #AF3E3E;
    background-color: transparent;
    background-image: none;
    border-radius: 13px;
}

section.guides.categories .btn-categories:hover {
    color: #fff;
    background-color: #AF3E3E;
}


section.guides.hottest-category .tiles-title.tiles-title-small {
    font-size: 22px;
}

section.guides.hottest-category .grid-sizer,
section.guides.hottest-category .grid-item {
    width: calc( ( 100% - 15px ) / 4 );
    height: 300px;
}

section.guides.hottest-category .tiles-bg-container { 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    position: relative;
}

section.guides.hottest-category .tiles-bg-overlay { 
    background-color: rgba(0, 0, 0, 0.35);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 3px;
    width: 100%;
    height: 100%;
}

section.guides.hottest-category .grid-item--width2 { 
    width: calc( ( ( 100% - 15px ) / 2 ) + 5px );
}

section.guides.hottest-category .grid-item--height2 { 
    height: calc(600px + 0.25rem);
}


section.guides.featured-articles .bg-container {
    background-image: url('https://via.placeholder.com/341x181');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
}

section.guides.featured-articles .section-title {
    font-size: 18px;
    color: #961E27;
}

section.guides.featured-articles .header-tag {
    font-size: 20px;
    color: #FFFFFF;
    background-color: #AF3E3E;
}

section.guides.featured-articles .header-title {
    font-size: 22px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 3em;
}

section.guides.featured-articles .header-desc {
    font-size: 16px;
    color: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 4.5em;
}

section.guides.featured-articles .header-desc-small {
    font-size: 14px;
    color: #FFFFFF;
}


section.guides.latest-articles .section-title {
    font-size: 18px;
    color: #961E27;
}

section.guides.latest-articles .article-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    object-position: center;
}

section.guides.latest-articles .article-tag {
    font-size: 16px;
    color: #FFFFFF;
    background-color: #AF3E3E;
}

section.guides.latest-articles .article-title {
    font-size: 18px;
    color: #000000;
}

section.guides.latest-articles .article-desc {
    font-size: 16px;
    color: #737373;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    max-height: 4.5em;
}

section.guides.latest-articles .article-desc-small {
    font-size: 14px;
    color: #787878;
}


section.guides .more-articles {
    font-size: 20px;
    color: #AF3E3E;
    font-family: 'Roboto', sans-serif;
}

section.guides .more-articles .fa-angle-down {
    color: #AF3E3E;
}


section.guides.cta .section-description {
    font-size: 18px;
    color: #707070;
}

section.guides.cta .btn-primary {
    font-size: 14px;
    background-color: #AF3E3E;
    border-radius: 5px;
}


@media (max-width: 1200px) {
    section.guides.header .header-title {
        font-size: 38px;
    }

    section.guides.header .header-desc {
        font-size: 20px;
    }

    section.guides.header #email {
        font-size: 16px;
    }
    
    section.guides.header #email::placeholder {
        font-size: 16px;
    }
    
    section.guides.header #subscribe {
        font-size: 16px;
    }


    section.guides.hottest-category .section-title {
        font-size: 16px;
    }
    
    section.guides.hottest-category .tiles-title {
        font-size: 28px;
    }
    
    section.guides.hottest-category .tiles-title.tiles-title-small {
        font-size: 20px;
    }


    section.guides.featured-articles .bg-container {
        background-image: url('https://via.placeholder.com/200x181');
    }

    section.guides.featured-articles .section-title {
        font-size: 18px;
    }
    
    section.guides.featured-articles .header-tag {
        font-size: 16px;
    }
    
    section.guides.featured-articles .header-title {
        font-size: 20px;
    }


    section.guides.latest-articles .section-title {
        font-size: 16px;
    }
    
    section.guides.latest-articles .article-title {
        font-size: 16px;
    }


    section.guides .more-articles {
        font-size: 16px;
    }
    

    section.guides.cta .section-description {
        font-size: 16px;
    }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
    section.guides.hottest-category .grid-sizer,
    section.guides.hottest-category .grid-item {
        width: calc( ( 100% - 5px ) / 2 );
        height: 150px;
    }

    section.guides.hottest-category .grid-item--width2 { 
        width: 100%;
    }

    section.guides.hottest-category .grid-item--height2 { 
        height: calc(300px + 0.25rem);
    }
}

@media (max-width: 576px) {
    section.guides.header .header-title {
        font-size: 30px;
    }

    section.guides.header .header-desc {
        font-size: 16px;
    }

    section.guides.header #email {
        font-size: 14px;
    }
    
    section.guides.header #email::placeholder {
        font-size: 14px;
    }
    
    section.guides.header #subscribe {
        font-size: 14px;
    }


    section.guides.hottest-category .section-title {
        font-size: 14px;
    }
    
    section.guides.hottest-category .tiles-title {
        font-size: 24px;
    }
    
    section.guides.hottest-category .tiles-title.tiles-title-small {
        font-size: 16px;
    }


    section.guide.categories .btn-categories {
        font-size: smaller;
    }


    section.guides.featured-articles .section-title {
        font-size: 14px;
    }
    
    section.guides.featured-articles .header-tag {
        font-size: 14px;
    }
    
    section.guides.featured-articles .header-title {
        font-size: 16px;
    }
    
    section.guides.featured-articles .header-desc {
        font-size: smaller;
        -webkit-line-clamp: 2;
        max-height: 3em;
    }
    
    section.guides.featured-articles .header-desc-small {
        font-size: 12px;
    }


    section.guides.latest-articles .section-title {
        font-size: 14px;
    }
    
    section.guides.latest-articles .article-img {
        height: 120px;
        width: 120px;
    }
    
    section.guides.latest-articles .article-tag {
        font-size: smaller;
    }
    
    section.guides.latest-articles .article-title {
        font-size: 14px;
    }
    
    section.guides.latest-articles .article-desc {
        font-size: smaller;
        -webkit-line-clamp: 2;
        max-height: 3em;
    }
    
    section.guides.latest-articles .article-desc-small {
        font-size: 12px;
    }


    section.guides .more-articles {
        font-size: 14px;
    }
    

    section.guides.cta .section-description {
        font-size: 14px;
    }
    
    section.guides.cta .btn-primary {
        font-size: 12px;
    }
}