.article.main .section-small-title {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    color: #585858;
    margin-bottom: 0.5rem;
}

.article.main .section-sub-title {
    font-size: 25px;
    color: #9F3139;
}

.article.main .btn-primary {
    font-size: 14px;
    background-color: #AF3E3E;
}


.article.main hr, .article-content hr {
    border-top: solid 1px #AF3E3E;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

.article.main, .article-content {
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #273131;
    line-height: 26px;
}

.article.main .badge.badge-light {
    color: #AF3E3E;
    background-color: transparent;
    background-image: none;
    border: 1px solid #AF3E3E;
    font-size: 15px;
    font-weight: 500;
    border-radius: 13px;
    margin-bottom: 0.5rem;
}

.article.main .badge.badge-light:hover {
    color: #fff;
    background-color: #AF3E3E;
    border-color: #AF3E3E;
}

.article-content {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

.article-content > * {
    margin-bottom: 1rem;
}

.article-content b {
    font-weight: 700;
}

.article-content .alert-shoutout {
    text-align: center;
    font-style: italic;
}

.article-content a {
    text-decoration: underline;
    font-weight: 700;
}

.article-content .badge.badge-danger, .article.main .badge.badge-danger {
    color: #FFFFFF;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    background-color: #AF3E3E;
    border-radius: 0;
    font-weight: 500;
}

.article.main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.article.main figure figcaption {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.article.main h1 {
    font-size: 32px;
    line-height: 40px;
    font-weight: 500;
    color: #000000;
    display: inline;
}

.article-content h1 {
    display: block;
}

.article-content h2 {
    font-size: 26px;
    line-height: 34px;
    font-weight: 500;
    color: #9F3139;
    margin-top: 2rem;
}

.article-content h3 {
    font-size: 26px;
    color: #9F3139;
    font-weight: 500;
}

.article-content ol {
    list-style: none;
    counter-reset: item;
    padding-inline-start: 0;
}

.article-content ol li {
    counter-increment: item;
    margin-bottom: 1rem;
}

.article-content ol li h3 {
    font-size: 22px;
    font-weight: 700;
    color: #273131;
}

.article-content ol li:before {
    margin-right: 10px;
    content: counter(item)".";
    float: left;
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 0.5rem;
    line-height: 1.2;
}

.article-content table {
    text-align: center;
    font-weight: bold;
}

.article-content caption {
    text-align: center;
    padding: 1rem;
}

.article-content table td, .article-content table th {
    border-bottom: 1px solid #dee2e6;
    padding: 1rem;
    vertical-align: middle;
}

.article-content .table:not(.table-vertical) thead th {
    color: #fff;
    background-color: #9F3139;
    border-color: #9F3139;
}

.article-content .table.table-vertical th:first-child {
    color: #fff;
    background-color: #9F3139;
    border-color: #9F3139;
}

.article-content .alert.alert-custom {
    background-color: #FFF1D5;
}


section.article.consult .section-title {
    font-size: 32px;
    color: #FFFFFF;
}

section.article.consult {
    background-image: url(https://via.placeholder.com/1959x540);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

section.article.consult .hr {
    border-top: solid 1px #FFFFFF;
}

section.article.consult .text-input-container {
    position: relative;
}

section.article.consult .text-input-container input {
    border-radius: 6px;
    border: solid 1px #B2B2B2;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 2px 0;
    padding-left: 40%;
}

section.article.consult .text-input-container input[id='name'] {
    padding-left: 20%;
}

section.article.consult .text-input-container label {
    font-size: 16px;
    opacity: 0.89;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translate(-10px, -50%);
    color: #585858;
}

section.article.consult .text-input-container input::placeholder {
    font-size: 16px;
    opacity: 0.89;
    color: #E3E3E3;
    font-weight: 500;
}

section.article.consult .textarea-input-container {
    position: relative;
}

section.article.consult .textarea-input-container textarea {
    border-radius: 6px;
    border: solid 1px #B2B2B2;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 2px 0;
    padding-top: 28px;
    padding-left: 20px;
    height: 163px;
}

section.article.consult .textarea-input-container label {
    font-size: 16px;
    opacity: 0.89;
    position: absolute;
    top: 5%;
    left: 30px;
    transform: translate(-10px, -5%);
    color: #585858;
}

section.article.consult .textarea-input-container textarea::placeholder {
    font-size: 16px;
    opacity: 0.89;
    color: #E3E3E3;
    font-weight: 500;
}

section.article.consult #subscribe {
    font-size: 16px;
    opacity: 0.89;
    color: #FFFFFF;
}

section.article.consult .btn-primary {
    font-size: 14px;
    background-color: #AF3E3E;
    border-radius: 5px;
}


section.article.recommends .section-title {
    font-size: 32px;
    color: #AF3E3E;
}

section.article.recommends .hr {
    border-top: solid 1px #AE1F23;
}

section.article.recommends .article-img {
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
}

section.article.recommends .article-title {
    font-size: 22px;
    color: #949494;
}

section.article.recommends .article-desc {
    font-size: 16px;
    color: #636363;
}


#st-2 .st-btn {
    border: 0 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    height: 40px !important;
}


@media (max-width: 1200px) {
    section.article.main .section-description {
        font-size: 16px;
    }

    section.article.main .section-title {
        font-size: 28px;
    }

    section.article.main .section-sub-title {
        font-size: 22px;
    }

    section.article.consult .section-title {
        font-size: 28px;
    }

    section.article.recommends .section-title {
        font-size: 28px;
    }

    section.article.recommends .article-title {
        font-size: 20px;
        color: #949494;
    }
}


@media (max-width: 992px) {
    section.article.consult .text-input-container input[id='name'] {
        padding-left: 40%;
    }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
    .article.main .badge.badge-light {
        font-size: 12px;
    }

    .article-content h3, .article-content h2 {
        font-size: 22px;
    }

    .article-content ol li h3 {
        font-size: 18px;
    }

    .article-content ol li:before {
        font-size: 18px;
    }

    section.article.consult .section-title {
        font-size: 24px;
    }

    section.article.consult .text-input-container label {
        font-size: smaller;
    }

    section.article.consult .text-input-container input::placeholder {
        font-size: smaller;
    }

    section.article.consult .textarea-input-container label {
        font-size: smaller;
    }

    section.article.consult .textarea-input-container textarea::placeholder {
        font-size: smaller;
    }

    section.article.recommends .section-title {
        font-size: 24px;
    }

    section.article.recommends .article-title {
        font-size: 14px;
    }

    section.article.recommends .article-desc {
        font-size: smaller;
    }

    section.article.consult #subscribe {
        font-size: smaller;
    }
}