section.not-found .section-title {
    font-size: 32px;
    color: #AF3E3E;
}

section.not-found .section-description {
    font-size: 18px;
    color: #585858;
    font-family: 'Roboto', sans-serif;
}

section.not-found .btn-primary {
    font-size: 14px;
    background-color: #AF3E3E;
}

@media (max-width: 1200px) {
    section.not-found .section-title {
        font-size: 28px
    }

    section.not-found .section-description {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    section.not-found .section-title {
        font-size: 24px
    }

    section.not-found .section-description {
        font-size: 14px;
    }
}