.testprep.landing .container-fluid {
    background-image: url('../../img/testprep-landing/test_prep_hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.testprep.landing .header-title {
    font-size: 46px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}

.testprep.landing .header-desc {
    font-size: 22px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}

.testprep.landing .header-desc#quote-from {
    text-shadow: rgba(0, 0, 0, 0.56) 0px 1px 2px;
    text-decoration: underline;
}

.testprep.landing div.left-border {
    border-left: solid #FFFFFF 3px;
}

.testprep.landing .section-title {
    font-size: 22px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}

.testprep.landing .section-desc {
    font-size: 16px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}

.testprep.landing .btn-primary {
    font-size: 14px;
    background-color: #961F28;
    border-radius: 5px;
}


@media (max-width: 1200px) {
    .testprep.landing .header-title {
        font-size: 38px;
    }
    
    .testprep.landing .header-desc {
        font-size: 20px;
    }
}

@media (max-width: 576px) {
    .testprep.landing .header-title {
        font-size: 29px;
        line-height: 1.3;
    }
    
    .testprep.landing .header-desc {
        font-size: 14px;
    }
    
    .testprep.landing .section-desc {
        font-size: smaller;
    }

    .testprep.landing div.left-border {
        border-left: none;
    }
}