section.course.header {
    background-image: url('https://via.placeholder.com/2015x413');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

section.course.header .header-title {
    font-size: 46px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}

section.course.header .header-desc {
    font-size: 22px;
    color: #FFFFFF;
    text-shadow: rgba(0, 0, 0, 0.57) 0px 3px 3px;
}

section.course.header .header-small {
    font-size: 14px;
    color: #FFFFFF;
}


section.course.majors .section-title {
    font-size: 35px;
    color: #AF3E3E;
}

section.course.majors .section-sub-title {
    font-size: 16px;
    color: #707070;
}

section.course.majors .hr {
    border-top: solid 1px #AF3E3E;
}

section.course.majors .btn-majors-tag {
    font-size: 15px;
    color: #AF3E3E;
    border: solid 1px #C26D6D;
    background-color: transparent;
    background-image: none;
    border-radius: 13px;
}

section.course.majors .btn-majors-tag:hover {
    color: #fff;
    background-color: #C26D6D;
    border-color: #C26D6D;
}

section.course.majors #majorsAccordion .card {
    border: solid #B2B2B2 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 1px 2px 0;
}

section.course.majors #majorsAccordion .card:first-of-type {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
}

section.course.majors #majorsAccordion .card:last-of-type {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

section.course.majors #majorsAccordion .card:not(:first-of-type) {
    border-radius: 8px;
}

section.course.majors #majorsAccordion .card-header {
    background: transparent;
    cursor: pointer;
    border-bottom: 0;
}

section.course.majors #majorsAccordion .card-header .btn-link {
    font-size: 15px;
    color: #000000;
}

section.course.majors #majorsAccordion .card-header .btn-link:hover,
section.course.majors #majorsAccordion .card-header .btn-link:focus {
    text-decoration: none;
}

section.course.majors #majorsAccordion .card-header .btn-link i {
    color: #AF3E3E;
}

section.course.majors #majorsAccordion .card-body {
    color: #707070;
    font-size: 16px;
}

section.course.majors #majorsAccordion .card-body a {
    font-weight: 700;
    color: #AF3E3E;
    text-decoration: underline;
}


section.course.tiles .section-title {
    font-size: 32px;
    color: #AF3E3E;
}

section.course.tiles .hr {
    border-top: solid 1px #AE1F23;
}

section.course.tiles .article-img {
    box-shadow: rgba(0, 0, 0, 0.16) 0 3px 6px;
}

section.course.tiles .article-title {
    font-size: 22px;
    color: #949494;
}

section.course.tiles .article-desc {
    font-size: 16px;
    color: #636363;
}


@media (max-width: 1200px) {
    section.course.header .header-title {
        font-size: 38px;
    }

    section.course.header .header-desc {
        font-size: 20px;
    }

    section.course.majors .section-title {
        font-size: 30px;
    }

    section.course.tiles .section-title {
        font-size: 28px;
    }

    section.course.tiles .article-title {
        font-size: 20px;
    }
}

@media (max-width: 992px) {
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
    section.course.header .header-title {
        font-size: 30px;
    }

    section.course.header .header-desc {
        font-size: 16px;
    }

    section.course.header .header-small {
        font-size: 12px;
    }

    section.course.majors .section-title {
        font-size: 25px;
    }

    section.course.majors .section-sub-title {
        font-size: smaller;
    }

    section.course.majors #majorsAccordion .card-header .btn-link {
        font-size: 12px;
    }

    section.course.majors #majorsAccordion .card-body {
        font-size: smaller;
    }

    section.course.tiles .section-title {
        font-size: 24px;
    }

    section.course.tiles .article-title {
        font-size: 16px;
    }

    section.course.tiles .article-desc {
        font-size: smaller;
    }

    section.course.majors .btn-majors-tag {
        font-size: smaller;
    }
}