section.about-us.introduction .section-title {
    color: #AF3E3E;
    font-size: 32px;
}

section.about-us.introduction .section-description {
    font-family: 'Roboto', sans-serif;
    color: #585858;
    font-size: 16px;
}

section.about-us.introduction .btn-primary {
    background-color: #AF3E3E;
    border-radius: 5px;
}

section.about-us.feature .feature-img {
    height: 80px;
    width: 80px;
}

section.about-us.feature .feature-img:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}

section.about-us.feature .feature-title {
    color: #9F3139;
    font-size: 25px;
}

section.about-us.feature .feature-desc {
    color: #585858;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}


section.about-us.cta .section-desc {
    color: #585858;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

section.about-us.cta .btn-primary {
    background-color: #AF3E3E;
    border-radius: 5px;
    font-size: 14px;
}


@media (max-width: 1200px) {
    section.about-us.introduction .section-title {
        font-size: 28px;
    }
    
    section.about-us.feature .feature-title {
        font-size: 22px;
    }
}


@media (max-width: 992px) {
    section.about-us.introduction .btn-primary {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    section.about-us.introduction .btn-primary {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    section.about-us.introduction .section-title {
        font-size: 24px;
    }
    
    section.about-us.introduction .section-description {
        font-size: smaller;
    }
    
    section.about-us.introduction .btn-primary {
        font-size: 14px;
    }
    
    section.about-us.feature .feature-img {
        height: 50px;
        width: 50px;
    }
    
    section.about-us.feature .feature-title {
        font-size: 18px;
    }
    
    section.about-us.feature .feature-desc {
        font-size: smaller;
    }
    
    section.about-us.cta .section-desc {
        font-size: smaller;
    }
}