section.compare.main {
    background-color: #F5F5F5;
}

section.compare.main .sidebar {
    width: 0;
    visibility: hidden;
}

section.compare.main .section-title {
    font-size: 32px;
    color: #961F28;
}

section.compare.main .top-container {
    height: 320px;
}

section.compare.main hr {
    border-top: solid 1px #AF3E3E;
}

section.compare.main .section-small-title {
    font-size: 16px;
    color: #AF3E3E;
}

section.compare.main .share-btn {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    color: white;
}

section.compare.main .share-label {
    font-size: 14px;
    color: #141414;
}

section.compare.main .share-btn.btn-messenger {
    background-color: #1E88E5;
}

section.compare.main .share-btn.btn-url {
    background-color: #961F28;
}

.side-title {
    font-size: 14px;
    color: #AF3E3E;
}

section.compare.main #compare-carousel {
    z-index: unset;
}

section.compare.main #compare-carousel .owl-stage > div:nth-of-type(odd) {
    background: #FFFFFF;
}

section.compare.main #compare-carousel .item {
    position: relative;
}


#top-fixed-bar {
    z-index: 999;
}

#top-fixed-bar .section-title {
    color: #AF3E3E;
    font-size: 16px;
}

#top-fixed-bar .share-btn {
    width: 20px;
    height: 20px;
    padding: 0;
    font-size: 0.7rem;
}


#top-sticky-bar {
    position: sticky; 
    top: 72px; 
    z-index: 5;
}

#top-sticky-bar #compare-carousel-fixed .item {
    position: relative;
    height: 220px;
}

#top-sticky-bar #compare-carousel-fixed .item .top-info {
    font-size: 14px;
    color: white;
}

#top-sticky-bar #compare-carousel-fixed .item .top-info-lg {
    font-size: 18px;
    color: white;
}

#top-sticky-bar #compare-carousel-fixed .item .bg-overlay { 
    background-color: rgba(0, 0, 0, 0.79);
    position: absolute;
    top: 0;
    border-radius: 3px;
    width: calc(100% - 3rem);
    height: 100%;
}

#top-sticky-bar #compare-carousel-fixed .item .btn-outline-secondary {
    border: solid 1px #FFFFFF;
    border-radius: 5px;
    color: #FFFFFF;
    font-size: 14px;
}


section.compare.main #compare-carousel .item .close-item {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    position: absolute;
    top: 2px;
    right: 10px;
    font-weight: 400;
    font-size: 24px;
    color: #AF3E3E;
    cursor: pointer;
}

section.compare.main #compare-carousel .item .item-description {
    font-size: 14px;
    color: #787878;
}

section.compare.main #compare-carousel .item .item-description-lg {
    font-size: 18px;
    color: #707070;
}

section.compare.main #compare-carousel .item .item-img {
    box-shadow: rgba(0, 0, 0, 0.16) 3px 3px 8px;
}

section.compare.main #compare-carousel .item .item-title {
    font-size: 18px;
    color: #AF3E3E;
}

section.compare.main #compare-carousel .item .course-title {
    font-size: 18px;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: #707070;
}

section.compare.main #compare-carousel .item .btn-primary {
    background-color: #961F28;
    border-radius: 5px;
    font-size: 14px;
}

section.compare.main .section-header {
    margin-top: 30px;
    width: 100vw;
    height: 30px;
    z-index: 2;
    position: relative;
    background-color: #ECECEC;
    color: #AF3E3E;
    font-size: 16px;
    visibility: visible;
    left: 1rem;
}

section.compare.main .section-header-space {
    height: 30px;
    margin-top: 30px;
}

section.compare.main #ptptn-select {
    width: 100vw;
    height: 150px;
    z-index: 2;
    position: relative;
    background-color: #FFFFFF;
    visibility: visible;
    left: 1rem;
}

section.compare.main #ptptn-select .btn-primary {
    background-color: #FFFFFF;
    color: #961E27;
}

section.compare.main #ptptn-select .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background-color: #961E27;
    color: #FFFFFF;
}

section.compare.main #ptptn-select .section-title {
    font-size: 14px;
    color: #AF3E3E;
}

section.compare.main #ptptn-select-space {
    height: 150px;
}

.list-result-box-owl-prev, .list-result-box-owl-next {
    position: fixed;
    z-index: 5;
    top: 190px;
}

.list-result-box-owl-prev {
    left: unset;
}

.list-result-box-owl-next {
    right: 5px;
}


#deleteCourseModal .modal-header .modal-title {
    font-size: 32px;
    color: #961F28;
}

#deleteCourseModal .modal-header .close {
    right: 0;
    color: #AF3E3E;
    font-size: 30px;
    font-weight: 300;
}

#deleteCourseModal .modal-body .close-icon {
    font-size: 100px;
    color: #AF3E3E;
    line-height: 1;
}

#deleteCourseModal .modal-body .close-desc {
    font-size: 14px;
    color: #585858;
}

#deleteCourseModal .modal-body .modal-desc {
    font-size: 16px;
    color: #585858;
    opacity: 0.89;
}

#deleteCourseModal .modal-body .border-primary {
    border-radius: 5px;
    border: solid 1px #AF3E3E;
}

#deleteCourseModal hr {
    border-top: solid 1px #AF3E3E;
}

#deleteCourseModal .modal-footer .btn-primary {
    border-radius: 5px;
    font-size: 14px;
    background-color: #AF3E3E;
}


.owl-carousel .owl-nav .list-result-box-owl-prev, .owl-carousel .owl-nav .list-result-box-owl-next {
    border: none;
    background: none;
    box-shadow: none;
    width: unset;
}

.owl-carousel .owl-nav .list-result-box-owl-prev i, .owl-carousel .owl-nav .list-result-box-owl-next i {
    font-size: 30px;
}


/* In big screen, set elements to fixed height for tabular layout */
@media (min-width: 992px) {
    section.compare.main .sidebar {
        width: 350px;
        visibility: visible;
    }

    section.compare.main #compare-carousel .item {
        width: 350px;
    }

    #top-sticky-bar #compare-carousel-fixed .item {
        width: 350px;
    }

    section.compare.main .table-row-height {
        height: 40px;
        padding-top: 1rem;
    }

    section.compare.main .table-row-height-lg {
        height: 60px;
        padding-top: 1rem;
    }

    section.compare.main #compare-carousel .item .item-description-lg {
        font-size: 18px;
        color: #707070;
    }

    section.compare.main #ptptn-select {
        width: calc(100vw - 4.5rem);
        left: 0;
    }

    section.compare.main .section-header {
        width: calc(100vw - 4.5rem);
        left: 0;
    }

    .list-result-box-owl-prev, .list-result-box-owl-next {
        top: 150px;
    }
}

@media (max-width: 992px) {
    section.compare.main#main {
        margin-top: 37px;
    }

    #top-sticky-bar {
        top: 109px;
    }

    section.compare.main .table-row-height.item-title {
        margin-top: 20px;
        height: 30px;
    }

    section.compare.main .table-row-height.item-description {
        height: 60px;
    }

    section.compare.main .table-row-height.item-description-lg {
        height: 60px;
    }

    section.compare.main .table-row-height-lg {
        height: 60px;
    }

    #top-sticky-bar #compare-carousel-fixed {
        padding-left: calc(1.5rem + 10px);
        padding-right: calc(1.5rem + 10px);
    }
}

@media (max-width: 576px) {
    section.compare.main .top-container {
        height: 250px;
    }

    section.compare.main #compare-carousel .item .item-description {
        font-size: 14px;
    }

    section.compare.main #compare-carousel .item .item-description#university {
        font-size: 10px;
    }
    
    section.compare.main #compare-carousel .item .item-description-lg {
        font-size: 14px;
    }

    section.compare.main #compare-carousel .item .item-title {
        font-size: 12px;
        color: #AF3E3E;
    }

    section.compare.main #compare-carousel .item .course-title {
        font-size: 12px;
    }

    section.compare.main .table-row-height.item-title {
        margin-top: 20px;
        height: 20px;
    }

    section.compare.main .table-row-height.item-description {
        height: 45px;
    }

    section.compare.main .table-row-height.item-description-lg {
        height: 45px;
    }

    section.compare.main .table-row-height-lg {
        height: 45px;
    }


    #deleteCourseModal .modal-header .modal-title {
        font-size: 24px;
    }
    
    #deleteCourseModal .modal-body .close-desc {
        font-size: 12px;
    }
    
    #deleteCourseModal .modal-body .modal-desc {
        font-size: smaller;
    }

    #top-sticky-bar #compare-carousel-fixed .item {
        height: 180px;
    }

    #top-sticky-bar #compare-carousel-fixed .item .top-info {
        font-size: 12px;
    }
    
    #top-sticky-bar #compare-carousel-fixed .item .top-info-lg {
        font-size: 14px;
    }


    #top-sticky-bar #compare-carousel-fixed .item .bg-overlay {
        width: calc(100% - 0.5rem);
    }


    .owl-carousel .owl-nav .list-result-box-owl-prev, 
    .owl-carousel .owl-nav .list-result-box-owl-next {
        top: 108px;
        border-radius: 0;
        height: 180px;
        width: 15px;
        background: rgba(255, 255, 255, 0.5);
        padding: 0;
    }

    .owl-carousel .owl-nav .list-result-box-owl-prev:active, 
    .owl-carousel .owl-nav .list-result-box-owl-next:active {
        background: rgba(240, 240, 240, 0.8);
    }
}